
<div class="row text-center"  >
	<div>
	<h1 class="text-black">Not Found </h1>
	<hr />
	
		<a class="btn btn-outline-success" asp-controller="Book" asp-action="Index">Home Page</a>

	</div>
</div>