@model Author

@{
	ViewData["title"] = "Details";
}
<div class="row text">
	<div class="col-md-8 offset-2">
		<h1>Details For @Model.fullname</h1>

		<div class="row">
			<div class="col-md-8 offset-2">
				<div class="form-group text-center">
					<img id="Profile_picture_perview" width="150px" />
				</div><br />
				<div class="form-group">
					<label asp-for="Profile_picture" class="control-lable"></label>
					<input asp-for="Profile_picture" class="form-control" readonly />
					<span asp-validation-for="Profile_picture" class="text-danger"></span>
				</div><br />
				<div class="form-group">
					<label asp-for="fullname" class="control-lable"></label>
					<input asp-for="fullname" class="form-control" readonly />
					<span asp-validation-for="fullname" class="text-danger"></span>
				</div><br />
				<div class="form-group">
					<label asp-for="Bio" class="control-lable"></label>
					<input asp-for="Bio" class="form-control" readonly />
					<span asp-validation-for="Bio" class="text-danger"></span>
				</div><br />
				<div class="form-group" style="justify-content:space-between;">

					<a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
					<a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
				</div>



			</div>
		</div>
	</div>
</div>
@section script {
	<script>
		$(document).ready(function(){
			var output=document.getElementById('Profile_picture_perview');
			output.src=$("#Profile_picture").val();
		})
	</script>


}
